/* plain tekst */

p {
    color: white;
    max-width: 700px;
}


/* Review 2.0 */
.review {
    padding: 32px;
    margin: auto;
}

.review-picture {
    max-width: 50px;
    max-height: 50px;
}
.review-picture2 {
    max-width: 550px;
    max-height: 309px;

}
.review-picture-nav{
    width: 575px;
    height:120px;
}

/* upper row */

.upper-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    border-style: solid;
    border-color: black;
}

.upper-row-button {
    margin-top: 30px;
}


/* videoplayer */
.youtube-link{
    cursor: pointer;
}

.video-pic{
    height: 300px;
    width: 500px;
}
.youtube-player-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}

.youtube-player-overlay.active {
    background: rgba(0, 0, 0, 0.897);
    opacity: 1;
    pointer-events: auto;

}

.youtube-player-popup {
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translate(-50%,-100%);
    transition: all 400ms ease ;
}

.youtube-player-overlay.active .youtube-player-popup{
    transform: translate(-50%,0);
}
.youtube-player-popup iframe{
    width: 100%;
    aspect-ratio: 16/9;
}