body {
    text-align: left;
    background-color: rgb(39, 38, 38);
    color:white
}
img{
    border-style: solid;
    border-width: 1px;
    height: 200px;
    width: 300px;
}
h1{
    font-style:italic;
    
    

}

div{
    max-width: 600px;
    align-items:center;
    
}
