body {
    background-color: darkslategrey; /* Muuda paremaks värviks */
}

.review-container {
    float: left ;
    align-items: center;
    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: start;



}

.review-picture {
    width: 480px;
    
}

.review-text {
    color: white;
    padding: 10px;
}

.upper-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;

    border-style: solid;
    border-color: black;
}

.upper-row-button {
    margin-top: 30px;

}
